<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Camera: chụp ảnh bể cá cho tính năng ghép tranh AI -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Ghi file khi lưu ảnh về máy (Android < 10) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- Camera không bắt buộc: thiết bị không có camera vẫn dùng được app
         (chọn ảnh từ thư viện), tránh bị Play Store lọc bớt thiết bị -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:label="Tranh Bể Cá 3D"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
